<html> 
    <head>
        <title>film.title</title>
        <meta charset=utf-8>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel='preconnect' href='https://fonts.gstatic.com'>
        <link href='https://fonts.googleapis.com/css2?family=Montserrat&family=Syne:wght@400;500&display=swap' rel='stylesheet'> 
    </head>

    <body>
        <h1>Detail page</h1>
        <h2>{{film.title}}</h2>
        <ul>
            <li><b>Title in Arabic:</b> {{film.arabicTitle}}</a></li>
            <li><b>Country of Origin:</b> {{film.country}}</a></li>
            <li><b>Director:</b> {{film.director}}</a></li>
            <li><b>Year:</b> {{film.year}}</a></li>
        </ul>
        <p class='home-button'><a href='/'>Home</a></p>
    </body>
</html>